
  
  <h3>
      Philips 8.5 W Round B22 LED Bulb  (White, Pack of 2)  
  </h3>
  <b>
    Product Description
  </b>
  <hr/>
  <p>
    These Philips bulbs are here to ensure that your home stays bright and luminous while 
    creating a pleasant atmosphere. They offer comfortable brightness as they are powered 
    by high lumen. This way, you get to enjoy up to 80% brightness and greater energy efficiency. 
    With these lights, you can make your look aesthetically appealing so that whoever enters your 
    home looks around in awe.
  </p>

