
  
  <h3>
      Flipkart Big Diwali  
  </h3>
  <b>
      What is Flipkart Big Diwali Sale?
  </b>
  <hr/>
  <p>
      Flipkart is also celebrating this Diwali sale with its own sale named 
      ‘_Flipkart Big Diwali Sale_’. This Flipkart Big Diwali Sale will start 
      from 1st November to 5th November 2018. This Flipkart Big Diwali Sale is 
      loaded with huge offers and discounts for all segments like mobile phones 
      and accessories, appliances & furniture, fashion, electronics, TVs. Users 
      will also get 10% Cashback with SBI Bank credit & Debit cards.
  </p>

